---
jobs:
  image:
    name: Image
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      # Harden the runner (Audit all outbound calls)
      # https://github.com/step-security/harden-runner
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      # Checkout repository
      # https://github.com/actions/checkout
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      # Set up QEMU
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      # Set up Docker Buildx
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      # Test the built image
      - name: Test image
        run: |
          docker compose --progress plain up --build --exit-code-from iperf3-client
        timeout-minutes: 5
        working-directory: tests
name: Test
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
